<a href="https://colab.research.google.com/github/kzukeri/portfolio/blob/main/Practice_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
int_list = [1, 2, 3, 4, 5]
string_list = ["Hello", "Goodbye"]
mixed_list = [0.87, "hello", True, 17]

print(int_list)
print(string_list)
print(mixed_list)

[1, 2, 3, 4, 5]
['Hello', 'Goodbye']
[0.87, 'hello', True, 17]

In [ ]:
numbers = [1, 2, 3, 4]

for number in numbers:
  print(number)

In [ ]:
numbers = [1,2,3,4]
length = len(numbers)
i = 0

while i < length:
    print("yes")

In [ ]:
Students = []
print(Students)

[]

In [ ]:
Students1 = ["Amy","Andy", "Anna"]
Students2 = ["Anna", "John", "Kathy"]
print(Students1)
print(Students1 + Students2)

['Amy', 'Andy', 'Anna']
['Amy', 'Andy', 'Anna', 'Anna', 'John', 'Kathy']

In [ ]:
Students1[0] = "Ashley"
#Students[1] = "Andrew"
print(Students1)

#print("Anna" in Students)

['Ashley', 'Andrew', 'Anna']

In [ ]:
my_list = ["red", "orange", "yellow", "green"]
my_slice = my_list[0:2]

print(my_slice)

['red', 'orange']

In [ ]:
my_list = [23, 55, 11, 7, 82.9, -14, 0, 34]
#print(my_list)
my_list.sort(reverse=True)
print(my_list)

[82.9, 55, 34, 23, 11, 7, 0, -14]

In [ ]:
grades = ["B","B","B"]
#print(grades)

update ="C"
#grades.append(update)
print(grades)

grades.append("C")
print(grades)

['B', 'B', 'B']
['B', 'B', 'B', 'C']

In [ ]:
print(grades)

grades[2]="A"

print(grades)

names = ["Ajeune", "Kerneka", "Modupe"]
names1= ["DaQuan", "Leah", "Lori"]
names2 = ['Alice', 'Bob', 'Charlie']

In [ ]:
Names = names +names1 + names2 + names + names
print(Names)

if "Alice" in Names:
  print("Alice is in the list")

In [ ]:
my_list = [] #empty list
print(my_list)
type(my_list)

In [ ]:
my_money = [red for red in range(1, 5)]

print(my_money)

In [ ]:
my_list = [5, 10, 15, 20]

print(my_list[-2])

In [ ]:
my_list = ["Amy", 5, "Mike"]
print(my_list)

my_list[0] = "Ami"
my_list[1] = 5
my_list[2] = 6
print(my_list)

In [ ]:
list_1 = [1, 2, 3]
list_2 = [4, "Amy", 6]

print(list_1 + list_2)

In [ ]:
list_1 = ["Hi!"]

print(list_1 * 4)

In [ ]:
my_list = ["red", "orange", "yellow", "green"]

print("Red" in my_list)

False

In [ ]:
list_1 = [12, 66, 52, 97, 28, 41, 7]
list_2 = [68, True, 34, False, 41.897, "apple"]

if len(list_1) > len(list_2):
    print("list_1 is longer than list_2")
elif len(list_1) == len(list_2):
    print("list_1 and list_2 are the same length")
else:
    print("list_2 is longer than list_1")

print(len(list_1))
print(len(list_2))

list_1 is longer than list_2
7
6

In [ ]:
my_list = ["red", "orange", "yellow", "green"]
my_slice = my_list[0:1]

print(my_list)

['red', 'orange', 'yellow', 'green']

In [ ]:
my_list = [1, 2, 3]
#new_element = 4
#print(my_list)


my_list.append(new_element)
print(my_list)

[1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
print(my_list)
print(my_list.pop(2))
print(my_list)

[1, 2, 3, 4]
3
[1, 2, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.insert(2, "Hi")
print(my_list)

[1, 2, 'Hi', 3, 4]

In [ ]:
my_list = ["Amy", "Tom!", 3, 3, 4]
my_list.remove("Tom")
print(my_list)

['Amy', 3, 3, 4]

In [ ]:
my_var = 2
my_list = [2, "red", 2.0, my_var, "Red", 8 // 4]
print(my_list)
print(my_list.count("Red"))

[2, 'red', 2.0, 2, 'Red', 2]
1

In [ ]:
my_list = ["amy", "tom", "deniece", ]
print(my_list)
my_list.sort()
print(my_list)

['amy', 'tom', 'deniece']
['amy', 'deniece', 'tom']

In [ ]:
my_list = [23, 55, 11, 7, 82.9, -14, 0, 34]
my_list.sort()
print(my_list)
my_list.sort(reverse=False)
print(my_list)

[-14, 0, 7, 11, 23, 34, 55, 82.9]
[-14, 0, 7, 11, 23, 34, 55, 82.9]

In [ ]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print(total)

15

In [ ]:
my_list = ["abc", "def", "ghi"]
print(sum(my_list))

TypeError: ignored

In [ ]:
my_list = [45, 12, 9, 1]
smallest = min(my_list)
print(smallest)

1

In [ ]:
my_list = ["apple", "boy", "cat", "aaron"]
smallest = min(my_list)
print(smallest)

aaron

In [ ]:
Tammy = 17 #age


if Tammy >= 18:
    print("Tammy is eligible to vote.")
else:
    print("Tammy is not eligible to vote.")

Tammy is not eligible to vote.